style.css

body {
  font-family: serif;
  line-height: 5;

  background-color: green;
  color: #333333;

  width: 980px;
  margin: 0 auto;
}

h1 {
  text-align: right;
  font-size: 36px;
  margin-bottom: 0;
}

main > h2 {
  text-align: left;
  font-size: 25px;
}